[submodule "js-source/aes-js"]
	path = js-source/aes-js
	url = git://github.com/ricmoo/aes-js.git
[submodule "js-source/PapaParse"]
	path = js-source/PapaParse
	url = git://github.com/mholt/PapaParse.git
[submodule "js-source/javascript-biginteger"]
	path = js-source/javascript-biginteger
	url = git://github.com/silentmatt/javascript-biginteger.git
[submodule "js-source/jshashes"]
	path = js-source/jshashes
	url = git://github.com/h2non/jshashes.git
[submodule "js-source/moment"]
	path = js-source/moment
	url = git://github.com/moment/moment.git
[submodule "js-source/autocomplete"]
	path = js-source/autocomplete
	url = git://github.com/jbdemonte/autocomplete.git
